<script>
	import{fade, fly} from 'svelte/transition';

	export let name;

	let rando;

	$: result = Math.round(rando *100);

	function setRando() {
		rando = Math.random();
	}
</script>

<main>
	<h1>Hello {name}!</h1>
	<p>Visit the <a href="https://svelte.dev/tutorial">Svelte tutorial</a> to learn how to build Svelte apps.</p>
</main>


<!-- <h1>Random Number is :<br>{rando}</h1>

<p>Your score is {result}</p>

{#if result > 75}
	<p transition:fade>big winner</p>
{:else if result > 50}
	<p transition:fly>middle winner</p>
{:else}
	<p 
	in:fly={{x: 1000,duration: 10000}}
	out:fly={{x: -1000,duration: 500}}
	>fuck a loser</p>
{/if}

<button on:click={setRando}>Randomize</button><br>

<input bind:value={rando}> -->


<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

	div{
		margin: 1rem;
		box-shadow: 0 2px 8px rgba(0, 0, 0.26);
	}

	h1{
		font-size: 1.25rem;
		margin: 0.25rem 0;
	}

	h2{
		font-size: 1rem;
		margin: 0.25rem 0;
		color: aqua;
	}

	p{
		margin: 0.25rem 0;
	}

	button{
		font: larger;
		padding: 0.15rem 0.5rem;
		background-color: #1b1a1a;
		border: 1px solid aliceblue;
		cursor: pointer;
		color: white;
	}
</style>